<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../assets/Style_css/header_footer.css">
    <link rel="stylesheet" href="../assets/Style_css/dangky.css">

</head>
<body>
<header class="header-home">
    <div class="dau-tieu-de">
        <p class="tieu-de-phan-dau">‼️Siêu hạ giá. Siêu nhiều ưu đãi. Tìm hiểu thêm về TAT Apple tránh giả mạo <a href="">tại đây.</a></p>
    </div>
    <div class="list-tieu-de">
        <div class="logo-tat-tieude">
            <a href="index.html"><img style="width: 300px" src="../assets/image/Logo.jpg"></a>
        </div>
        <div class="search-tren-tieu-de">
            <input type="text" class="tim-kiem" placeholder="Tìm kiếm sản phẩm tại TAT Apple...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>


        <div class="icon-user">
            <a  style="color: black">
                <i class="fa-solid fa-user"></i>
            </a>
            <ul class="header-user">
                <div class="header-user_header">
                    <h3>Xin chào</h3>
                </div>
                <hr/>
                <div class="user-before-login">
                    <li class="header-user_item">
                        <a href="dangnhap.html">Đăng nhập</a>
                    </li>
                    <li class="header-user_item">
                        <a href="dangky.html">Đăng ký</a>
                    </li>
                </div>

            </ul>
            <ul class="header-user">
                <div class="header-user_header">
                    <h3>Xin chào</h3>
                </div>
                <hr/>
                <div class="use-after-login">
                    <li class="header-user_item">
                        <a href="">Profile</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Đơn hàng</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Địa chỉ</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Đăng xuất</a>
                    </li>
                </div>
            </ul>
        </div>


        <div class="icon-cart">
            <a href="shopping-cart.html" style="color: black"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <ul class="menu-tieu-de">
        <li>
            <a href="">iPhone</a>
        </li>
        <li>
            <a href="">iPad</a>
        </li>
        <li>
            <a href="">Apple Watch</a>
        </li>
        <li>
            <a href="">Macbook</a>
        </li>
        <li>
            <a href="">Âm thanh</a>
        </li>
        <li>
            <a href="">Phụ kiện</a>
        </li>
        <li>
            <a href="">Tìm hiểu thêm về iPhone</a>
        </li>
    </ul>
    <hr>
</header>

    <div class="main-container">
        <div class="container">
            <div class="image-container">
                <img src="https://www.digibox.com.vn/_nuxt/img/login.89bd579.png" alt="Hình ảnh minh họa">
            </div>
    
            <div class="login-box">
                <div class="login-header">
                    <h2>Tạo tài khoản</h2>
                    <div class="register-link">
                        <a href="dangnhap.html">Đăng nhập</a>
                    </div>
                </div>
                <div class="input-group">
                    <i class="fa fa-envelope"></i>
                    <input id="email" placeholder="Email">
                    <span class="messageError"></span>
                </div>
                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input id="account" placeholder="Tài Khoản">
                    <span class="messageError"></span>
                </div>
                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input id="password" placeholder="Mật Khẩu" type="password">
                    <span class="messageError"></span>
                </div>
                <button class="btn-login" type="button">Đăng ký</button>
                <div id="messageDone" style="display: none; padding: 10px; margin-top: 10px; border-radius: 5px;">
                    <button class="login" href = "dangnhap.html"></button>
                </div>
            </div>
        </div>
    </div>
    

    <!-- <%-- FOOTER --%> -->
    <footer style="width: auto; height: 450px;">
        <div class="first-footer">
            <div class="left-footer">
                <img src="../assets/image/Logo.jpg" style="width: 250px">
                <div class="text-left-footer">
                    <p>TAT Apple là đại lý bán lẻ ủy quyền của Apple tại Việt Nam,được phát triển bởi
                        tập đoàn MAP danh tiếng đến từ Indonesia.
                        Cam kết đem đến trải nghiệm tốt nhất về sản phẩm và dịch vụ tiêu chuẩn Apple cho
                        thị trường Việt Nam.</p>
                    <br />
                    <h3 style="font-family: Monsterrat-Regular">CÔNG TY TNHH MAPPLE MITRA ADIPERKASA
                        VIỆT NAM</h3>
                    <br />
                    <p>&copy 2021.GPDKKD số 0316998320 do Sở Kế hoạch Đầu tư T.HCM cấp ngày 27/10/2021.
                    </p>
                    <br />
                    <p>Tầng 9, Tòa nhà Lim Tower 3, 29A Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1,
                        TP.HCM.</p>
                    <br />
                    <p><span style="font-family: Monsterrat-Regular">Hotline: 1900 4532
                        </span><span>(9:00-17:00, Thứ 2-Thứ 6)</span></p>
                    <br />
                    <p>Email: tatapplestrore@gmail.com</p>
                </div>
            </div>
            <div class="footer-center">
                <table class="table-footer">
                    <tr style="font-family: Monsterrat-Regular">
                        <th
                            style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                            Sản phẩm</th>
                        <th
                            style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                            Thông tin</th>
                        <th
                            style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                            Cửa hàng TAT Apple</th>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">iPhone</a>
                        </td>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">Về TAT Apple</a>
                        </td>
                        <td style="padding-bottom: 10px">
                            <a href="https://maps.app.goo.gl/zW9hdk8SBekPagWBA">Vị trí cửa hàng</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">iPad</a>
                        </td>
                        <td style="padding-right: 82px; padding-bottom: 10px">
                            <a href="">Chính sách bảo hành</a>
                        </td>
                        <td style="padding-bottom: 10px">
                            <a href="">Liên hệ TAT Apple</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">Apple Watch</a>
                        </td>
                        <td style="padding-right: 82px; padding-bottom: 10px">
                            <a href="">Chính sách giao hàng</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">Macbook</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px"><a href="">Âm thanh</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px"><a href="">Phụ kiện</a>
                        </td>
                    </tr>
                </table>
                <div class="payment-method" style="margin-top: 100px">
                    <h3 style="font-family: Monsterrat-Regular; text-align: left; font-size: 15px">
                        Phương thức thanh toán</h3>
                    <br />
                    <p style="font-family: Monsterrat-Light; font-size: 12px">Chấp nhận thanh toán bằng
                        các app điện tử và thẻ:</p>
                    <img src="../assets/image/Pay.jpg" style="width: 115px; margin-top: 10px" alt="">
                </div>
            </div>
            <div class="right-footer">
                <h3 style="font-family: Monsterrat-Regular; text-align: left; font-size: 15px">Nhận
                    thông báo từ TAT Apple</h3>
                <br />
                <p>Đăng ký để nhận các ưu đãi độc quyền và cập nhật tin tức mới nhất từ TAT Apple!</p>
                <br />
                <p>Kết nối với TAT Apple:</p>
                <div class="icon-social-network-footer">
                    <!-- <%-- chèn link ig --%> -->
                        <a href="https://www.instagram.com/phanthang_04/">
                            <img src="https://www.digibox.com.vn/_nuxt/img/instagram.50f26cf.png"
                                alt="ig">
                        </a>
                        <!-- <%-- chèn link fb --%> -->
                            <a href="https://www.facebook.com/tn26052022/">
                                <img src="../assets/image/logo-fb-footer.png" alt="fb">
                            </a>
                </div>
                <img src="../assets/image/Da-thong-bao-bo-ct.png" style="width: 150px">
            </div>
        </div>
    </footer>
    <!-- <script src="../controllers/validator.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
          form: '#form-signUp',
          formGroupSelector: '.input-group',
          errorSelector: '.messageError',
          rules: [
            Validator.isRequired('#email'),
            Validator.isEmail('#email'),
            Validator.isRequired('#account', 'Vui lòng nhập tên đầy đủ của bạn'),
            Validator.isRequired('#password'),
            Validator.minLength('#password', 6)
          ],
          onSubmit: function (data) {
            // Call API
            console.log(data);
          }
        });
      });
    </script> -->
    <script src = "../controllers/signUp.js">
        document.addEventListener('DOMContentLoaded', function (){})
    </script>
</body>
</html>
